database:
  host: mysql.db-ns.svc.cluster.local
  port: 3306
controller:
  replicaCount: 3
  serviceAccountName: db-secret-sa

  containerName: app
  image: bstar999/iti-gp-image-back:latest
  port: 5000
  secretsManagerRoleArn: arn:aws:iam::910148268074:role/db_secret_role


  env:
    - name: DB_HOST
      value: mysql.db-ns.svc.cluster.local
    #- name: DB_USER
    #  valueFrom:
    #    secretKeyRef: 
    #      name: db-secret
    #      key: username
    #- name: DB_PASS
    #  valueFrom:
    #    secretKeyRef:
    #      name: db-secret
    #      key: password
    - name: DB_NAME
      value: iti
  
  resources:
    requests:
      memory: 500Mi
      cpu: 0.5
    limits:
      memory: 1Gi
      cpu: 1
  
  livenessProbe:
    httpGet:
      path: /health
      port: 5000
    initialDelaySeconds: 30
  
  readinessProbe:
    httpGet:
      path: /health
      port: 5000
    initialDelaySeconds: 30
  
  affinity:
    podAntiAffinity: 
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - nodejs-app
            topologyKey: "topology.kubernetes.io/zone"
  volumes:
    - name: nginx-conf
      configMap:
        name: nginx-conf
    - name: index
      configMap:
        name: index
    - name: secrets
      secret:
        secretName: back-secret
service:
  type: ClusterIP
  port: 5000

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  cpuUtilization: 70

networkPolicy:
  enabled: false