apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 65.0.0
    helm:
      releaseName: monitoring
      values: |
        grafana:
          service:
            type: LoadBalancer
        prometheus:
          service:
            type: LoadBalancer
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
